<div class="form-group">
  <div class="col-10">
    <h2>Curso a Cargo</h2>
    <h4>2° Basico B</h4>
      <div class=card>
        <ul class="list-group">              
          <li *ngFor="let alumno of alumnos" class="list-group-item d-flex justify-content-between align-items-center">
            {{alumno.nombre}}
          <div [ngSwitch]="alumno.nota">
            <li class="badge badge-success badge-pill"  *ngSwitchCase="'enlazado'">
              {{alumno.nota}}
            </li>
            <li class="badge badge-danger badge-pill"  *ngSwitchCase="'Sin Apoderado'">
              {{alumno.nota}}
            </li>
          </div>
        </ul>
      </div>
  </div>
</div>