<div class="list-group">
    <div class="col-10">
        <h2>Establecimiento</h2>
        <div class=card style="align-items: center">
            <img src="http://3.bp.blogspot.com/-AYEs65icjfM/WRzIq6eBBcI/AAAAAAAAAAw/RouQRp1CnmsYwGLLJMROADsxY2ez6crzgCK4B/s1600/12.jpg" alt="">
            <ul>
                <label>Nombre: </label>
                <label>Colegio Emprender</label>
            </ul>
            <ul>
                <label>Cantidad Alumnos :</label>
                <label>1100</label>
            </ul>
            <ul>
                <label>Profesores :</label>
                <label>25</label>
            </ul>
        </div>
    </div>
</div>