<nav>
  <div>
    <div>
      <ul>
          <a (click)=opcion(0)>Inicio</a>
            <a (click)=opcion(1)>Agregar Estudiante</a>
            <a (click)=opcion(2)>Asignar Estudiatne</a>
      </ul>
    </div>
  </div>
</nav>

<div class=card>
    <div class="car-body">
          <div *ngIf="this.accion===0">
              <app-inicio-estudiante></app-inicio-estudiante>
          </div>
          <div *ngIf="this.accion===1">
              <app-agregar-estudiante></app-agregar-estudiante>
          </div>
          <div *ngIf="this.accion===2">
              <app-asignar-estudiante></app-asignar-estudiante>
          </div>
    </div>
  </div>