<h2>Informacion de la Institución</h2>

<form>
    <div class="form-group">
      <label class="col-2 col-form-label">Nombre de la Institución</label>
      <div class="col-10">
          <input type="text" class="form-control" id=""  placeholder="Ingrese Nombre de la Insitución">
        </div>
    </div>
    <div class="form-group">
        <label class="col-2 col-form-label">Dirección de la Institución</label>
        <div class="col-10">
            <input type="text" class="form-control" id=""  placeholder="Ingrese la Dirección">
          </div>
      </div>
      <div class="form-group">
            <label class="col-2 col-form-label">Teléfono</label>
            <div class="col-10">
                <input type="text" class="form-control" id=""  placeholder="Ingrese Teléfono">
              </div>
          </div>
          <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Agregar Telefono</button>

          <div class="form-group">
          <label class="col-2 col-form-label">Teléfonos Agregados</label>
          <li class="col-10">
              +5694524154
          </li>
        </div>
        <div class="form-group">
                <label class="col-2 col-form-label">Correo Electronico</label>
                <div class="col-10">
                    <input type="email" class="form-control" id=""  placeholder="Ingrese E-mail">
                  </div>
              </div>
              <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Agregar E-Mail</button>
    
              <div class="form-group">
              <label class="col-2 col-form-label">Correos Agregados</label>
              <li class="col-10">
                  Colegio@prueba.com
              </li>
            </div>

      <div class="form-group">
          <label class="col-2 col-form-label">Logo Institucional</label>

          <div class="col-10">
          <input type="file" class="form-control-file" id="exampleInputFile"  accept=".jpg, .jpeg, .png">
        
          <small id="fileHelp" class="form-text text-muted">Maximo 320x240 px</small>
         </div>
      </div>

      <button type="submit" class="btn btn-primary"><i class="far fa-check-circle" ></i> Actualizar Información</button>
<button type="reset" class="btn btn-se"><i class="fas fa-ban"></i> Cancelar</button>
</form>