Administrador de Establecimiento
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/Institucion/']">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/Institucion/Docentes']">Cuentas de Docente</a>
    </li>
    <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/Institucion/Informacion']">Informacion Institución</a>
    </li>
    <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/Institucion/Alumnos']">Cuentas de estudiantes</a>
    </li>
    <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/Institucion/Cursos']">Cursos</a>
    </li>
    <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/Institucion/Comunicados']">Enviar Comunicado</a>
    </li>
    <li class="nav-item">
        <a href="#"><i class="fas fa-sign-out-alt"></i>Log Out</a>
    </li>
 </ul>


<div class=card>
    <router-outlet></router-outlet>
</div>
  
