<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="color:rgb(62, 139, 66)">Profesor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="navbar-brand" [routerLink]="['/Docentes']">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Notas
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" [routerLink]="['/Docentes/Notas/Envio']">Enviar</a>
                <a class="dropdown-item" [routerLink]="['/Docentes/Notas/Modificar']">Modificar</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tareas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" [routerLink]="['/Docentes/Tareas/Envio']">Enviar</a>
                      <a class="dropdown-item" [routerLink]="['/Docentes/Tareas/Modificar']">Modificar</a>
                    </div>
                  </li>
            <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/Docentes/Atrasos']">Atrasos</a>
            </li>
      
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Enviar Comunicado
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" [routerLink]="['/Docentes/Comunicados/Historial']">Historial</a>
                <a class="dropdown-item" [routerLink]="['/Docentes/Comunicados/Curso']">Curso</a>
                <a class="dropdown-item" [routerLink]="['/Docentes/Comunicados/Apoderado']">Apoderado Especifico</a>
              </div>
            </li>
            <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/Docentes/Mensajes']">Mensajes</a>
            </li>
                <a class="nav-item" [routerLink]="['/']"><i class="fas fa-sign-out-alt"></i>Log Out</a>
          </ul>
        </div>
      </nav>
      
      
      
      
      <div class=card>
          <router-outlet></router-outlet>
      </div>